[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "gitee"]
	url = https://gitee.com/asialiugf/study.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[credential]
    helper = store


   28  git config --global user.email "@qq.coom"
   29  git config --global user.name "asialiugf"
   39  git config --global credential.helper store
